extends layout

block content
    .searchBox
        form.searchForm(method="GET" action='' )
                input.searchInput(type="text" , placeholder="Search..." name="search"  required="true" value = searchName ? searchName : "")
        button.searchButton(type="submit") Search
    table.table
        thead
            tr
                th.table-header Name
                th.table-header Image
                th.table-header Series
                th.table-header Available
                th.table-header Price
                th.table-header Alt
                th.table-header Edit
        tbody
            each item in data.docs
                tr.table-row
                    td.table-cell= item.name
                    td.table-cell
                        img(src=item.imgUrl, alt=item.alt, style='max-width: 100px;')
                    td.table-cell
                        each series in item.series
                            p.table-text= series.name
                    td.table-cell
                        each user in item.available
                            p.table-text= user
                    td.table-cell.table-number= item.price
                    td.table-cell.table-text= item.alt
                    td.table-cell 
                        a(href="/update/"+item._id) Update
    .nextPrevButtons 
        if searchName                
            if data.hasPrevPage 
                a.navigationButtons.nextButton(href="/home?search="+searchName+"&page="+(data.prevPage-1)) Previous Page
            if data.hasNextPage
                a.navigationButtons.prevButton(href="/home?search="+searchName+"&page="+(data.nextPage-1)) Next page 
        else 
            if data.hasPrevPage 
                a.navigationButtons.nextButton(href="/home?page="+(data.prevPage-1)) Previous Page
            if data.hasNextPage
                a.navigationButtons.prevButton(href="/home?page="+(data.nextPage-1)) Next page 